@font-face {
    font-family: bankCircular;
    src: url('U.S.BankCircularWeb-Regular.woff');
}
* {
    font-family: bankCircular !important;
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    justify-content: center;
    background-color: #D5D5D5;
    /* padding: 20vh 0; */
}
#mainCar {
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: white;
}
.car-main {
    max-height: 80vh;
    min-height: 80vh;
    width: 90vw;
    position: relative;
}
a::after {
    background-image: url('ecc.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px; 
    height: 40px;
    content:"";
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.owl-stage-outer {
    /* width: 100vw !important; */
    max-height: 80vh !important;
}
.owl-stage {
    /* width: 90vw !important; */
    max-height: 80vh !important;
    min-height: 80vh !important;
    display: flex;
    align-items: center;
}
.p-relative {
    position: relative;
}
.blue-div {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #075FE7;
    z-index: -1;
}
.car-blue {
    border-left: 60px solid #075FE7;
    height: 80vh !important;
}
.car-green {
    border-left: 60px solid #557244;
    height: 80vh !important;
}
.car-purple {
    border-left: 60px solid #4A3F81;
    height: 80vh !important;
}
.car-maroon {
    border-left: 60px solid #7E2E31;
    height: 80vh !important;
}
.slide-header {
    border-bottom: 3px solid #075FE7;
    line-height: 6rem;
    margin-bottom: 20px;
}
.blue-card {
    background-color: #075FE7;
    color: white;
    padding: 20px 10px;
}
.ref-blue {
    color: #7193BE;
}
/* p {
    font-size: 1.3rem;
}
small {
    font-size: 1.1rem;
} */
.masonry-item {
    width: 25% !important;
}
.fs-large {
    text-transform: capitalize;
    font-size: 4rem;
}
.fs-big {
    padding-top: 20px;
    font-size: 3rem;
}
.heading-container {
    padding-top: 20px;
}
.carousel-indicators {
    bottom: -50px !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 5vw !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    /* position: absolute; */
}
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     /* position: absolute; */
}
.carousel-indicators [data-bs-target] {
    background-color: black;
}
.slide1-img {
    border-radius: 0 0 0 30%;
}
.rounded-1 {
    border-top-left-radius: 20px !important;
}
.rounded-2 {
    border-bottom-left-radius: 20px !important;
}
.rounded-3 {
    border-bottom-right-radius: 20px !important;
}
.text-blue {
    color: #075FE7 !important;
}
small, p {
    color: black;
}
.slide4-logo {
    width: 40% !important;
}
.slide5-img-container .col-6 {
    position: relative;
    height: 100%;
    padding: 0 10px 10px 0 !important;
}
.slide5-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    margin-bottom: 0;
    color: white;
    transition: all 1s;
}
@media screen and (max-width: 992px) {
    body {
        padding: 10vh 0;
    }
    .carousel-item {
        padding: 0 5vw;
    }
}